{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ExpenseTracker</title>
    <style>
    body { font-family: Arial, sans-serif; background-color: #f0fdf4; color: #065f46; }
    .container { max-width: 600px; margin: auto; padding: 20px; background-color: white; border-radius: 10px; }
    .btn { display: inline-block; background-color: #16a34a; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px; margin-top: 20px; }
  </style>
    <script src="https://cdn.tailwindcss.com"></script>


</head>
<body>

        <nav class="shadow-lg p-5">

                <div class="container flex flex-wrap justify-between items-center mx-auto">

                    <span  class="flex">
                        <img class="h-10 mr-3" src="{% static 'myapp/images/wallet.png' %}" alt="">
                        <span class="self-center text-xl font-semibold">Expense Tracker</span>
                    </span>

                </div>

        </nav>


        {% block body %}

        {% endblock %}
</body>
</html>